* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg: #dcdee0;
    --login: #eef2f6;
    --login-h3: #0081c4;
    --login-btn: #0081c4;
    --login-btn-hover: #00527c;
    --error: rgb(244, 26, 26);
    --error-bg: rgba(175, 27, 0, 0.154);
    --success: rgb(0, 175, 6);
    --suceess-bg: rgba(0, 175, 6, 0.179);
    --p: #545454;
}
body {
    font-size: 90%;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.full-container {
    background: var(--bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.full-container .login {
    width: 85%;
    max-width: 380px;
    margin: 0 auto;
    position: relative;
    background: var(--login);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: 15px;
    border: 0.1px solid #dbd9d98a;
    box-shadow:
        2px 3px 35px rgba(157, 157, 157, 0.874),
        -2px -3px 35px rgba(157, 157, 157, 0.874);
    transition: 0.5s ease-in;
    animation: 0.3s zoom linear;
}
.error-animation {
    background: rgba(244, 54, 54, 0.224);
    animation: 0.7s error linear infinite;
}
.login h2 {
    color: var(--login-h3);
    font-weight: 500;
    text-align: center;
    margin: 0.3rem auto;
}
.login img {
    width: 140px;
    height: 110px;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 0.6rem;
}
.login #message {
    margin: 0.2rem auto;
    font-size: 15px;
    font-family: Sans-Serif;
    font-weight: 500;
    width: 215px;
    display: block;
}
.container #message {
    margin: 0.5rem auto;
    font-size: 15px;
    font-family: Sans-Serif;
    font-weight: 500;
    width: 215px;
    display: block;
}
.error {
    color: var(--error);
    padding: 0.5rem 1rem;
    border: 0.1px solid var(--error);
    background: var(--error-bg);
    border-radius: 5px;
}
.success {
    color: var(--success);
    padding: 0.5rem 1rem;
    border: 0.1px solid var(--success);
    background: var(--suceess-bg);
    border-radius: 5px;
}
.login .error {
    color: var(--error);
    padding: 0.5rem 1rem;
    border: 0.1px solid var(--error);
    background: var(--error-bg);
    border-radius: 5px;
}
.login .success {
    color: var(--success);
    padding: 0.5rem 1rem;
    border: 0.1px solid var(--success);
    background: var(--suceess-bg);
    border-radius: 5px;
}
.login input {
    width: 215px;
    outline: none;
    border: 1.5px solid var(--login-h3);
    color: var(--login-h3);
    font-weight: 500;
    margin: 0.5rem auto;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    transition: 0.2s ease-in;
}
.login input:focus {
    border: 1.5px solid var(--success);
}
.login #login-btn {
    width: 215px;
    outline: none;
    border: none;
    padding: 0.6rem 1rem;
    margin: 0.3rem auto;
    background: var(--login-h3);
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login #login-btn:hover {
    background: var(--login-btn-hover);
    color: #fff;
    outline: none;
}
.login #login-btn .load {
    width: 22px;
    height: 22px;
    border-left: 3px solid currentColor;
    border-bottom: 3px solid currentColor;
    border-right: 3px solid currentColor;
    border-top: 3px solid transparent;
    border-radius: 50%;
    margin: 0 0.3rem;
    animation: 0.5s loading linear infinite;
}
.login p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--p);
    font-weight: 600;
    margin: 0.3rem 0;
}
.login p a {
    color: var(--login-h3);
    font-weight: 900;
    margin-left: 0.7rem;
    text-decoration: none;
}
/* Create Loading Animation Using CSS Keyframes */
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Error Animation */
@keyframes error {
    from {
        background: rgba(212, 8, 8, 0.117);
    }
    from {
        background: rgba(244, 54, 54, 0.262);
    }
}
/* Zoom In Animation */
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
